
/*postion*/

.margin-left-50
{
    margin-left: 50px;
}

.margin-top-50
{
    margin-top: 50px;
}




/*size*/
.height-30
{
    height:30px;
}

.width-30
{
    width: 30px;
}

/*color*/
.background-color-00ffbf
{
    background-color: #00ffbf;
}
.text-shadow-red
{
    text-shadow: 2px 2px 5px #ff0000;
}


.border-bisque
{
    border:bisque;
}


.text-color-red-italic  * {
    color: red;
    /*font-style:italic;*/
    font-size: larger;

}


.text-align-center{
    text-align: center;
}